{
  "language": "go",
  "install": [
    "export PATH=\"$PATH:$HOME/sdk/go_appengine/\"",
    "curl -o sdk.zip \"https://storage.googleapis.com/appengine-sdks/featured/go_appengine_sdk_linux_amd64-1.9.24.zip\"",
    "unzip sdk.zip -d $HOME/sdk"
  ],
  "script": [
    "go version",
    "go get -v -t -d ./...",
    "\"$HOME/sdk/go_appengine/goapp\" test -v ./...",
    "go test -v -race ./..."
  ]
}